body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.startRound {
  margin: 15px 0 15px 0;
}
.col {
  display: inline-block;
}
.instructions {
  width: 460px;
  margin: 0 0 0 20px;
}
pre {
  background-color: #d3d3d3;
  border-radius: 5px;
  padding: 10px;
}
